@using Modules.Resources
@model global::Logic.Common.Models.PageModel
@{
    ViewBag.Title = "Show";
}
<div class="well kentico-color">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>@Model.Name</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="show-page-content">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
    @{
        if (@Model.Media.Any())
        {
            <div class="attachements">@Presentation.Title</div>
            foreach (var media in Model.Media)
            {
                <div>@Html.ActionLink(@media.Name, "Download", "File", new { fileId = @media.Id }, null)</div>
            }
        }
    }
</div>
