@using Modules.Resources
@model ClientPanel.Models.Mail.MailViewModel
@{
    ViewBag.Title = Presentation.ContactForm;
}

@using (Html.BeginForm("SendMail", "Mail", FormMethod.Post,
    new {enctype = "multipart/form-data"}))
{
    @Html.ValidationSummary()
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.TextBoxFor(x => x.ClientEmailAddres,new {@class = "form-control input-lg",required = "", placeholder = Presentation.EmailAddress})
                @Html.ValidationMessageFor(x => x.ClientEmailAddres) 
            </div>
            <div class="form-group">
                @Html.TextBoxFor(x => x.Subject, new { @class = "form-control input-lg", required = "", placeholder = Presentation.Subject })
                @Html.ValidationMessageFor(x => x.Subject)
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.TextAreaFor(x => x.Content, new { @class = "form-control input-lg contactForm", required = "", placeholder = Presentation.Content })
                @Html.ValidationMessageFor(x => x.Content)
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">@Presentation.Send</button>
    </div>
}