@using Modules.Resources
@using Logic.Common.Models
<div class="modal-header">
    <div class="row text-center">
        <h2 class="text-modal-heading">@Presentation.Add</h2>
    </div>
</div>
<div class="modal-body">
    <form novalidate name="form">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="form-group form-field row">
                    <div>
                        <label class="control-label">@Presentation.EmailAddress</label>
                    </div>
                    <div>
                        <input class="form-control" ng-model="reciver.EmailAddress" name="email" required="" type="email" />
                        <span ng-show="form.email.$error.required && form.email.$dirty" class="text-danger">
                            @Presentation.RequiredErrorMessage
                        </span>
                        <span ng-show="form.email.$error.email" class="text-danger">
                            @Presentation.EmailErrorMessage
                        </span>
                    </div>
                </div>                        
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn kentico-color" ng-disabled="form.$invalid" ng-click="save()">@Presentation.Add</button>
    <button class="btn btn-default" ng-click="cancel()">@Presentation.Cancel</button>
</div>
