@using Modules.Resources
@using Logic.Common.Models
<div class="modal-header">
    <div class="row text-center">
        <h2 class="text-modal-heading">@Presentation.Add</h2>
    </div>
</div>
<div class="modal-body">
    <table class="table table-bordered table-striped table-hover" ng-show="recivers.length>0">
        <thead>
            <tr>
                <th>
                    @Presentation.EmailAddress
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="reciver in recivers" ng-click="select(reciver)" ng-class="{'selected':selectedReciver.Id==reciver.Id}" class="selectable">
                <td ng-bind="reciver.EmailAddress"></td>
            </tr>
        </tbody>
    </table>
    <span ng-show="recivers.length <=0">@Presentation.NoCategories</span>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="selectedReciver==null" ng-click="confirm()">@Presentation.Confirm</button>
        <button class="btn btn-default" ng-click="cancel()">@Presentation.Cancel</button>
    </div>
</div>
