@using Modules.Resources
@{
    ViewBag.Title = Presentation.News;
}
@Scripts.Render("~/bundles/news")
<div ng-controller="NewsController">
    @Html.Partial("Menu")
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped kentico-color">
                <thead>
                    <tr>
                        <th class="text-center">
                            @Presentation.Name
                        </th>
                        <th class="text-center">
                            @Presentation.CreationDate
                        </th>
                        <th class="text-center">
                            @Presentation.LastModifyDate
                        </th>
                        <th class="text-center">
                            @Presentation.Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="news in newses">
                        <td ng-bind="news.Title" class="text-center"></td>
                        <td ng-bind="news.CreationTimeStamp | date:'dd-MM-yyyy HH:mm:ss'" class="text-center"></td>
                        <td ng-bind="news.LastModifiedTimeStamp | date:'dd-MM-yyyy HH:mm:ss'" class="text-center"></td>
                        <td class="text-center">
                            <a ng-click="edit(news)"><span class="glyphicon glyphicon-edit text-success"></span></a>
                            <a ng-click="delete(news)"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>