@using Modules.Resources
@using Logic.Common.Models
<div class="modal-header">
    <div class="row text-center">
        <h2 class="text-modal-heading">@Presentation.Add</h2>
    </div>
</div>
<div class="modal-body">
    <table class="table table-bordered table-striped table-hover" ng-show="categories.length>0">
        <thead>
            <tr>
                <th>
                    @Presentation.Name
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="category in categories" ng-click="select(category)" ng-class="{'selected':selectedCategory.Id==category.Id}" class="selectable">
                <td ng-bind="category.Category"></td>
            </tr>
        </tbody>
    </table>
    <span ng-show="categories.length <=0">@Presentation.NoCategories</span>
    <div class="modal-footer">
        <button class="btn kentico-color" ng-disabled="selectedCategory==null" ng-click="confirm()">@Presentation.Confirm</button>
        <button class="btn btn-default" ng-click="cancel()">@Presentation.Cancel</button>
    </div>
</div>
