@using Modules.Resources
@using Logic.Common.Models
@model NewsModel
<div class="modal-header">
    <div class="row text-center">
        <h2 class="text-modal-heading">@Presentation.Edit</h2>
    </div>
</div>
<div class="modal-body">
    <form novalidate name="form">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="form-group form-field row">
                    <div>
                        <label class="control-label">@Presentation.Title</label>
                    </div>
                    <div>
                        <input class="form-control" ng-model="news.Title" name="title" required="" />
                        <span ng-show="form.title.$error.required && form.title.$dirty" class="text-danger">
                            @Presentation.RequiredErrorMessage
                        </span>
                    </div>
                </div>
                <div class="form-group form-field row">
                    <div>
                        <label class="control-label">@Presentation.Content</label>
                    </div>
                    <div>
                        <div text-angular ng-model="news.Content" name="content" required></div>
                        <span ng-show="form.content.$error.required && form.content.$dirty" class="text-danger">
                            @Presentation.RequiredErrorMessage
                        </span>
                    </div>
                </div>
                <div class="form-group form-field row">
                    <div>
                        <label class="control-label">@Presentation.Categories</label>
                        <button class="btn btn-sm btn-primary" ng-click="add()"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                    <div ng-repeat="category in news.Categories" class="categories-container">
                        <div class="category-box" role="alert">
                            <button type="button" class="close" ng-click="remove($index)"><span aria-hidden="true">&times;</span></button>
                            <span ng-bind="category.Category"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="save()">@Presentation.Edit</button>
    <button class="btn btn-default" ng-click="cancel()">@Presentation.Cancel</button>
</div>
