@Scripts.Render("~/bundles/leftMenu")
@using Modules.Resources
<div id="sidebar-wrapper" ng-controller="LeftMenuController" ng-mouseover="open()" ng-mouseout="close()">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                Start Bootstrap
            </a>
        </li>
        <li>
            <a href="@Url.Action("Test", "Test")">Test</a>
        </li>
        <li>
            <a href="@Url.Action("Test", "Services")">Test Services</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "ServiceType")">Service Types</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "ServiceProvider")">Service Providers</a>
        </li>
        <li>
            <a href="@Url.Action("Index", "News")">@Presentation.News</a>
        </li>
        <li>
            <a href="@Url.Action("LogOff", "Account")">Logout</a>
        </li>
    </ul>
</div>


